.span3
  .account-container
    .account-avatar
      img.thumbnail(src="/components/img/myheadshot.png", alt="")
    // /account-avatar
    .account-details
      span.account-name Qcer
      |             
      |             
      span.account-role Administrator
      |             
      |             
      span.account-actions
        a(href="javascript:;") Profile
        |  |
        |               
        |               
        a(href="javascript:;") Edit Settings
    // /account-details
  // /account-container
  hr
         
  ul#main-nav.nav.nav-tabs.nav-stacked
    li
      a(href="./index.html")
        i.icon-home
        |               Dashboard
    li
      a(href="./whiteboard.html")
        i.icon-pushpin
        |               WhiteBoard               
  .sidebar-extra
    p  Welcome to this pages.
  // .sidebar-extra
  br
// /span3
